body {
    overflow-x: hidden;
    background-image: url("Assets/portfolioBackground.png");
    background-repeat:no-repeat;
    overflow-x: scroll;
    background-size:cover;
    width: 100%;
    min-height: 100vh;

}